.arrow{
  display: flex;
      position: absolute;
      top: 50%;
      height: 50px;
      width: 50px;
      justify-content: center;
      background: white;
      border-radius: 50%;
      cursor: pointer;
      align-items: center;
      transition: transform ease-in 0.1s;
}

.arrow:hover{
    transform: scale(1.1);
  
}

img:focus {
  /* // transform: translateX(${direction === 'left' ? '-2' : '2'}px); */
    outline: 0;
}

.right{
  right:25px;
}

.left{
  left:25px;
}